<!-- INCLUDE mcp_header.html -->

<img src="{T_THEME_PATH}/images/spacer.gif" alt="" height="20" width="1" />
<div align="center">
	<center>
		<table width="98%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td width="1%"><img src="{T_THEME_PATH}/images/table_icon_faq.gif" alt="" height="35" width="35" border="0" /></td>
				<td class="table_title" align="left" nowrap="nowrap" width="98%">{L_WHOIS}</td>
				<td width="1%"><img src="{T_THEME_PATH}/images/table_r.gif" alt="" height="17" width="17" /></td>
			</tr>
			<tr>
				<td width="1%"><img src="{T_THEME_PATH}/images/table_icon_faq.gif" alt="" height="35" width="35" border="0" /></td>
				<td class="table_title" align="left" width="98%">{RETURN_POST}</td>
				<td width="1%"><img src="{T_THEME_PATH}/images/table_r.gif" alt="" height="17" width="17" /></td>
			</tr>
			<tr>
				<td width="1%"></td>
				<td class="table_content" align="left" width="98%"><span class="gen">
						<pre>{WHOIS}</pre>
					</span></td>
				<td width="1%"></td>
			</tr>
			<tr>
				<td width="1%"></td>
				<td class="table_bot" align="center" width="98%"> </td>
				<td width="1%"></td>
			</tr>
		</table>
	</center>
</div>
<!-- INCLUDE mcp_footer.html -->