<!-- INCLUDE overall_header.html -->
<div class="subMerged_title">{MESSAGE_TITLE}</div>
<img src="{T_THEME_PATH}/images/spacer.gif" alt="" height="20" width="1" />
<table width="50%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="1%"><img src="{T_THEME_PATH}/images/table_icon_info.gif" alt="" height="35" width="35" border="0" /></td>
		<td class="table_title" align="left" nowrap="nowrap" width="98%">{MESSAGE_TITLE}</td>
		<td width="1%"><img src="{T_THEME_PATH}/images/table_r.gif" alt="" height="17" width="17" /></td>
	</tr>
	<tr>
		<td width="1%"></td>
		<td class="table_content" align="left" width="98%">{MESSAGE_TEXT}</td>
		<td width="1%"></td>
	</tr>
	<tr>
		<td width="1%"></td>
		<td class="table_bot" align="right" width="98%">&nbsp;</td>
		<td width="1%"></td>
	</tr>
</table>
<!-- INCLUDE overall_footer.html -->