	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->

</td>
</tr>
</table>
<table class="bot" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="bot_left" align="left" valign="top" width="35%"><img src="{T_THEME_PATH}/images/spacer.gif" height="18" width="1" border="0" alt="" /><br />
			<img src="{T_THEME_PATH}/images/titanic.gif" height="59" width="155" border="0" alt="" /></td>
		<td class="bot_mid" align="center" valign="middle" width="30%"><!-- IF U_ACP -->[ <a href="{U_ACP}">{L_ACP}</a> ]<br />
			<br />
			<!-- ENDIF -->Powered by <a href="http://www.phpbb.com/" target="_blank">phpBB</a> &copy; 2002, 2006 phpBB Group <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF --><br />
			{S_TIMEZONE}</td>
		<td class="bot_right" align="right" valign="middle" nowrap="nowrap" width="35%"><a href="http://submerged.sourceforge.net"><img src="{T_THEME_PATH}/images/subMerged_logo_bottom.gif" height="37" width="90" border="0" alt="subMerged by redhair" /></a><img src="{T_THEME_PATH}/images/spacer.gif" height="1" width="40" alt="" /></td>
	</tr>
</table>
<table class="debug" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center" valign="top" width="100%"><div style="font-size:10px;"><!-- IF DEBUG_OUTPUT -->[ {DEBUG_OUTPUT} ]<!-- ENDIF --></div></td>
	</tr>
</table>
<!--
	We request you retain the full copyright notice below including the link to www.phpbb.com.
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of phpBB3. If you (honestly) cannot retain
	the full copyright we ask you at least leave in place the "Powered by phpBB" line, with
	"phpBB" linked to www.phpbb.com. If you refuse to include even this then support on our
	forums may be affected.

	The phpBB Group : 2006
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	
	Style version: subMerged 3.0.0
	Codename: The Abyss
	Released: 30-11-2006
	copyright (C) 2006 redhair
	http://submerged.sourceforge.net
	
	Credit: Logo design by Till Nowak
	(The white spinning logo, top-left.)
	copyright (C) 2005 T. Nowak
	http://www.framebox.de
	
	More Credit: Popups by overLIB
	http://www.bosrup.com/web/overlib/
	
	Even more credit: for the webmaster that leaves all these credits in place.
	
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// -->
</body>
</html>