<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="1%"><img src="{T_THEME_PATH}/images/table_icon_message.gif" alt="" height="35" width="35" /></td>
		<td class="table_title" align="left">{L_MESSAGE_HISTORY} - {TITLE}</td>
		<td width="1%"><img src="{T_THEME_PATH}/images/table_r.gif" alt="" height="17" width="17" /></td>
	</tr>
	<tr>
		<td width="1%"></td>
		<td class="table_content">
			<div style="overflow: auto; width: 100%; height: 300px;">
				<table width="100%" cellspacing="1">
					<tr>
						<td width="22%"><b>{L_AUTHOR}</b></td>
						<td><b>{L_MESSAGE}</b></td>
					</tr>
					<!-- BEGIN history_row -->
					<tr>
						<td rowspan="2" align="left" valign="top"><a name="{history_row.U_POST_ID}"></a>
							<table width="150" cellspacing="0">
								<tr>
									<td colspan="2" align="center"><b class="postauthor">{history_row.MESSAGE_AUTHOR_FULL}</b></td>
								</tr>
							</table>
						</td>
						<td width="100%"<!-- IF history_row.S_CURRENT_MSG --> style="background-color: #4dabfd;color: #052645;"<!-- ENDIF -->>
							<div class="submerged" style="float:left">
								<b>{L_PM_SUBJECT}:</b> {history_row.SUBJECT}</div>
							<div class="submerged" style="float:right">
								<b>{L_FOLDER}:</b> {history_row.FOLDER}</div>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<table width="100%" cellspacing="0">
								<tr>
									<td valign="top">
										<table width="100%" cellspacing="0" cellpadding="2">
											<tr>
												<td>
													<div class="postbody">{history_row.MESSAGE}
													</div>
													<div id="message_{history_row.MSG_ID}" style="display: none;">{history_row.DECODED_MESSAGE}
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<table width="100%" cellspacing="0">
											<tr valign="middle">
												<td width="100%"> </td>
												<td nowrap="nowrap" width="10">{history_row.MINI_POST_IMG}</td>
												<td class="submerged" nowrap="nowrap"><b>{L_SENT_AT}:</b> {history_row.SENT_DATE}</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="submerged"><a href="{history_row.U_VIEW_MESSAGE}">{L_VIEW_PM}</a></td>
						<td>
							<div class="submerged" style="float:left">
								 <!-- IF history_row.U_PROFILE --><a href="{history_row.U_PROFILE}">{PROFILE_IMG}</a> <!-- ENDIF --><!-- IF history_row.U_EMAIL --><a href="{history_row.U_EMAIL}">{EMAIL_IMG}</a> <!-- ENDIF --> </div>
							<div class="submerged" style="float:right">
								<!-- IF history_row.U_QUOTE or history_row.MESSAGE_AUTHOR_QUOTE  --><a <!-- IF history_row.U_QUOTE -->href="{history_row.U_QUOTE}"<!-- ELSE -->href="#" onclick="addquote({history_row.MSG_ID}, '{history_row.MESSAGE_AUTHOR_QUOTE}'); return false;"<!-- ENDIF -->>{QUOTE_IMG}</a> <!-- ENDIF --><!-- IF history_row.U_POST_REPLY_PM --><a href="{history_row.U_POST_REPLY_PM}">{REPLY_IMG}</a><!-- ENDIF --> </div>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<hr />
						</td>
					</tr>
					<!-- END history_row -->
				</table>
			</div>
		</td>
		<td width="1%"></td>
	</tr>
</table>